@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import "tailwindcss";

a {
  font-family: "Satoshi";
}

h1,
h2 {
  font-family: "Afacad";
}

p {
  font-family: "Satoshi";
}

#root {
  max-width: 1920px !important;
  margin: 0 !important;
}

.scroll-animation {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
